@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #ffff;
    --redOrange:#FF5555;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
h3{
    font-family: "Poppins", sans-serif;
    
}

/* login form */

.input-group-text{
    background-color: #A7BF00;
}

.btnColor{
    background-color: #A7BF00;
    color: var(--white);
}

.fromBg{
   background-color: #F9FFD1;
}

/* forgot and otp */
.sFont{
    font-size: 15px !important;
}
.otp-input input{
    width: 15%;
    height: 60px;
    text-align: center; 
}
